table {
    width: 70%;
    margin-left: 5%;
    margin-top: 10%;
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 2px solid black;
    border-color: lightblue;
  }
  
  th {
    background-color: rgb(212, 224, 228);
    height: 40px;
    width: 60px;
    border: 2px solid black;
    border-collapse: collapse;
  }
  
  td {
    height: 70px;
    width: 60px;
    border: 2px solid black;
    border-collapse: collapse;
  }
  input{
    height: 30px;
    width: 70%;
  }
  
  .ok {
    background-color: green;
    border: none;
    color: white;
    width: 50px;
    height: 30px;
  }
  .done {
    background-color: green;
    border: none;
    color: white;
    width: 50px;
    height: 30px;
  }
  .undone {
    background-color: orange;
    border: none;
    color: white;
    width: 65px;
    height: 30px;
  }
  .delete {
    background-color: red;
    border: none;
    color: white;
    width: 55px;
    height: 30px;
  }
  
  